body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    font-family:'Times New Roman', Times, serif;
}
html {
    height: 100%;
}

#calculator {
    border: 2px solid black;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    background-color: gainsboro;
    padding: 10px;
}

#button-container {
    display: flex;
    flex-wrap: wrap;
    gap: 0;
    width: 300px;
    height: fit-content;
    border-radius: 20px;
}

#display-frame {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100px;
    width: 100%;
    padding-bottom: 10px;
}
#display {
    display: flex;
    align-items: center;
    justify-content: right;
    padding: 30px;
    border-radius: 2px;
    font-size: 30px;
    flex: 1;
    align-self: stretch;
    background-color: grey;
    
}

.digit {
    background-color: rgb(211, 125, 26);
}

.operation {
    background-color: rgb(223, 68, 68);
}
.special-operation {
    background-color: rgb(16, 88, 189);
}
button {
    flex-grow: 1;
    flex-basis: 30%;
    /*margin: 4px; */
    
    display: flex;
    height: 50px;
    font-size: 30px;
    justify-content: center;
    border-radius: 10px;
    align-items: center;
}
